    
    <div class="container">

		<div class="row">

			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<button class="btn btn-info btn-lg btn-block"><%=link_to "Add New Listing", new_listing_path %></button>
						
				<ul class="event-list">

				
						
				
				<% Listing.all.each do |listing| %>
					<li>
						
						
						<time datetime="2014-07-20">
							<span class="day">$<%= listing.price if listing.price? %> </span>
					
						</time>
						<img alt="first picture"  <%= image_tag listing.images[0].url %> 
						
						<div class="info">
							<h2 class="title"><%= link_to listing.name, listing_path(listing.id) %></h2>
							<p class="desc"><%= listing.address %></p>
							<ul>
								<li style="width:33%;">Reviews <span class="glyphicon glyphicon-ok"></span></li>
								<li style="width:34%;">3 <span class="fa fa-question"></span></li>
								<li style="width:33%;">Availible <%=listing.people %><span class="fa fa-male"></span></li>
							</ul>
						</div>
						<% if current_user.id==(listing.user_id) %>
				
						<div class="social">
							<ul>
								<li class="google-plus"  style="width:33%;"><a class="btn">  <%= link_to "Edit", edit_listing_path(listing.id) %>   </li>
								<li class="google-plus"  style="width:34%;"><a  class="btn"> 
    							<%= link_to "delete", listing, method: :delete, data: { confirm: "You sure?"} %>


                                    </li>
							
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
						<%end%>
					</li>
					<%end%>

			
				
			</div>
		</div>
	</div>
