<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%=@user.first_name %> 
                    <%= @user.last_name %></h2>
                    <p><strong>Email: </strong> <%=@user.email %> </p>
                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span> 
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src= <%= @user.avatar_url.to_s %> alt="" class="img-circle img-responsive">


                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">                  
                    <div class="btn"><i class="icon-edit"></i> <strong><%= link_to "Edit", edit_user_path(@user.id) %></strong></div>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">                  
                    <div href="#" class="btn"><i class="icon-trash"></i> <strong><%= link_to "Delete", @user, method: :delete, data: { confirm: "You sure?"} %></strong></div>
                </div>
















            </div>
    	 </div>                 
		</div>
	</div>
</div>